<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<th:block th:fragment="js">
  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="bi bi-chevron-double-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/assets/vendor/lib/easing/easing.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/waypoints/waypoints.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/counterup/counterup.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/owlcarousel/owl.carousel.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/tempusdominus/js/moment.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/tempusdominus/js/moment-timezone.min.js}"></script>
  <script th:src="@{/assets/vendor/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Template Javascript -->
  <script th:src="@{/assets/js/main.js}"></script>
</th:block>
</html>